.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 64px;
	align-items: center;
}

.image_block {
	padding: 32px;
	backdrop-filter: blur(40px);
	border-radius: 24px;
	background: #f7f7f7;
	border: 1px solid rgba(244, 244, 244, 1);
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 24px;
	min-height: 600px;
}

.shift_block {
	height: 60%;
	background-color: white;
	border-radius: 24px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.shift_chart__wrapper {
	display: grid;
	grid-template-columns: 0.6fr 1fr;
	gap: 24px;
}

.shift_chart {
	width: 200px;
	height: 200px;
	position: relative;
}

.shift_chart__title {
	font-size: 32px;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.shift_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 24px;
}

.auth_block {
	height: 40%;
	background-color: white;
	border-radius: 24px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.auth_wrapper {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	align-items: center;
	gap: 24px;
}

.auth_title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.auth__progress__wrapper {
	display: flex;
	gap: 8px;
	align-items: center;
	height: 16px;
	width: 100%;
}

.auth__progress {
	display: block;
	flex: 1 1;
	border-radius: 12px;
	height: 80%;
	background-color: #dddddd;
}

.auth__counter {
	width: fit-content;
}

.auth__progress__bar {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 12px;
}

.image_block__title {
	font-size: 18px;
	font-weight: 500;
}

.text_block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
}

.text_block h3 {
	font-size: 48px;
	font-weight: 600;
}

.text_block p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}

.text_wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.text_icon {
	padding: 8px;
	border-radius: 12px;
	aspect-ratio: 1 / 1;
	width: fit-content;
	background-color: #1249fd;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: auto;
}

.text_icon svg {
	width: 100%;
	height: auto;
}

.text_advantages {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	font-size: 20px;
}

.text_advantage {
	display: flex;
	gap: 8px;
	align-items: flex-start;
}

.text_advantage svg {
	color: #00bd75;
	min-width: 16px;
	min-height: 16px;
	width: 16px;
	height: 16px;
}

@media (max-width: 1024px) {
	.wrapper {
		grid-template-columns: 1fr;
		gap: 32px;
	}

	.text_block {
		order: -1;
	}
}

@media (max-width: 768px) {
	.text_advantages {
		grid-template-columns: repeat(1, 1fr);
	}
}
