.integration-card {
	background-color: #fbfaff;
	padding: 24px;
	border-radius: 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

.integration-card__text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.integration-card__text h3 {
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0;
}

.integration-card__text p {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0;
}

.integration-card__image img {
	width: 100%;
	height: auto;
	border-radius: 12px;
	display: block;
}

@media (max-width: 768px) {
	.integration-card__text {
		padding: 0;
		text-align: center;
	}
}
