.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 64px;
	align-items: center;
}

.image_block {
	padding: 32px;
	backdrop-filter: blur(40px);
	border-radius: 24px;
	background: #f7f7f7;
	border: 1px solid rgba(244, 244, 244, 1);
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 24px;
	min-height: 600px;
}

.text_block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
}

.text_block h3 {
	font-size: 48px;
	font-weight: 600;
}

.text_block p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}

.text_wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.text_icon {
	padding: 8px;
	border-radius: 12px;
	aspect-ratio: 1 / 1;
	width: fit-content;
	background-color: #00bd75;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: auto;
}

.text_icon svg {
	width: 100%;
	height: auto;
}

.text_advantages {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	font-size: 18px;
}

.text_advantage {
	display: flex;
	gap: 8px;
	align-items: flex-start;
}

.text_advantage svg {
	color: #00bd75;
	min-width: 16px;
	min-height: 16px;
}

@media (max-width: 1024px) {
	.wrapper {
		grid-template-columns: 1fr;
		gap: 32px;
	}
	.text_block {
		order: -1;
	}
}
