.title-section {
	text-align: center;
	padding: 0 20px 40px;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 16px
}

.title-section__title {
	font-size: 72px;
	line-height: 100%;
	text-align: center;
	font-weight: 600;
	margin-bottom: -20px;
}

.title-section__description {
	font-size: 32px;
	line-height: 150%;
	text-align: center;
}

@media (max-width: 1024px) {
	.title-section {
		padding: 0 20px 30px;
		padding-bottom: 0;
	}

	.title-section__title {
		font-size: 48px;
		line-height: 110%;
	}

	.title-section__description {
		font-size: 24px;
		line-height: 140%;
	}
}

@media (max-width: 768px) {
	.title-section {
		padding: 20px 16px 20px;
		padding-bottom: 0;
		gap: 8px;
	}

	.title-section__title {
		line-height: 120%;
	}

	.title-section__description {
		font-size: 18px;
		line-height: 140%;
	}
}
