.wrapper {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.title_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.title_desc {
	font-weight: 400;
	text-align: center;
	max-width: 600px;
	color: #999999;
}

.title {
	font-weight: 600;
	font-size: 54px;
	text-align: center;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
}

.list > :first-child {
	grid-column: span 2; /* занимает 2 колонки */
}

@media (max-width: 968px) {
	.list {
		grid-template-columns: 1fr;
	}

	.list > :first-child {
		grid-column: 1; 
	}
}
