.comparison-section {
  padding: 60px 40px;
  width: 80vw;
}

.comparison-title {
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 40px;
}

.comparison-content {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comparison-text {
  display: flex;
  gap: 40px;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

.comparison-column {
  flex: 1 1 250px;
  min-width: 200px;
}

.comparison-column h3 {
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 16px;
}

.comparison-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comparison-column li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
  
  font-size: 24px;
  line-height: 150%;
  
}

.comparison-column li img {
  width: 48px;
  height: 48px;
}

.comparison-image {
  flex: 1;
  min-width: 280px;
}

.comparison-image img {
  height: 470px;
  align-self: center;
  height: auto;
  display: block;
}

/* Tablet */
@media (max-width: 1024px) {
  .comparison-title {
    font-size: 36px;
  }

  .comparison-content {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .comparison-text {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }

  .comparison-column {
    max-width: 100%;
  }

  .comparison-image {
    padding-top: 77px;
    padding-left: 130px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .comparison-section {
    padding: 40px 20px;
  }

  .comparison-title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .comparison-text {
    flex-direction: column;
    gap: 24px;
  }

  .comparison-column h3 {
    font-size: 22px;
  }

  .comparison-column li {
    font-size: 16px;
  }

  .comparison-column li img {
    width: 40px;
    height: 40px;
  }
}

.comparison-image-stack {
  position: relative;
  width: 240px;
  height: 420px;
  margin: 0 auto;
}

.comparison-image-layer {
  position: absolute;
  height: 420px;
  width: auto;
  max-width: 100%;
  transition: transform 0.3s ease;
  border-radius: 12px;
  object-fit: contain;
  display: block;
}


.comparison-image-stack img {
  height: 400px;
  object-fit: contain;
  display: block;
}